/* General Styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fcf9f1;
  display: flex;
}

/* Sidebar Styles */
.sidebar {
  background-color: #097969;
  width: 250px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Name Styles */
.name {
  color: #90bfc5;
  font-weight: 300;
  margin-bottom: 40px;
  align-self: flex-start; /* Align to the left of the sidebar */
  margin-left: 40px; /* Shift to the right */
}

/* Navigation Links */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-link {
  color: #fcf9f1;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.sidebar-link.active {
  font-weight: bold;
}

/* Social Icons Styles */
.social-icons {
  margin-top: auto; /* Push icons to the bottom */
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.icon-link {
  color: #90bfc5;
  font-size: 24px;
  text-decoration: none;
}

.icon-link:hover {
  color: #6e9296;
}

/* Content Styles */
.content {
  margin-left: 250px;
  padding: 20px;
}

h2 {
  color: #097969;
  font-size: 3em;
  font-weight: 400;
}

h3 {
  color: #6e9296;
  font-size: 2em;
  font-weight: 400;
}

h4 {
  color: #eac866;
  font-size: 18px; /* Same size as the body text */
  font-weight: 600; /* Higher weight for emphasis */
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-weight: 200;
  font-size: 18px;
  color: #000;
  line-height: 1.6;
}

/* Link Styling */
a {
  text-decoration: none; /* No underline by default */
  color: inherit; /* Inherit the color of the surrounding text */
  transition: text-decoration 0.3s ease; /* Smooth transition for underline */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

